html, head, body, header,
nav, h1, a, ul, li, main,
section, p, footer, small {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  cursor:inherit;
}

h1{
  font-size:30px;
  font-weight:bold;
  text-align: center;
}

h2{
  font-size:20px;
  font-weight:bold;
  margin-bottom:20px;
  text-align: center;
}

header, nav, main, section,
footer, small {
  display: block;
}

button {
  outline: none;
}


ul {
  list-style: none;
}

/* Clearfix */

.cf:after {
  content: "";
  display: block;
  clear: both;
}


.widget{
  margin:20px 20px;
  font-family: 'Roboto', sans-serif;
}

.col-1-4, .col-1{
  float:left;
}

.col-1-4{
  width:25%;
}

.col-1-2{
  width:45%;
}

.col-1{
  width:100%;
  margin: 0 20px;
}

/* TABS */

.tab-list {
  margin: 0 auto;
  display: flex;
}

.tab-list li{

  float:left;
  border: 4px solid black;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  background: aquamarine;
  cursor:pointer;
  padding:5px 10px;
  padding:5px 10px;
  flex-grow: 1; /* display flex*/
}

.tab-list li h2{
  text-align:center;
}

.tab-list li:hover{
  background: black;
  color:white;
}

.tab-content{
  font-size:20px;
  display:flex;
  background: url("http://67.media.tumblr.com/6a6bd85276e8cddb80a0b8dc3df71ddb/tumblr_ncositS7Uq1qjsbmxo1_1280.jpg");
  height:170px;
  background-size: 450px;
  background-repeat: no-repeat;
  border-right:4px solid black;
  border-left:4px solid black;
  border-bottom:4px solid black;
  text-align:center;
  align-items: center;
  justify-content: center;
}

.tab-content p{
  border:0;
}


/* CLOCK */


.auto-box,.clock-box, .weather-box{
  font-family: 'Roboto', sans-serif;
  height:180px;
  margin:0 auto;
  display: flex;
  border: 4px solid black;
  flex-wrap:wrap;
}

.clock-box{
  background:url("https://media.giphy.com/media/xT1XGLSb5E1VjIUw4E/giphy.gif");
  background-size:160px;
  background-repeat:no-repeat;
}

.clock-row{
  display: flex;
  justify-content:center;
  align-items: center;
  margin:15px;
}


.clock-row span{
  font-size:3.3vmax;
  opacity:1;
  color:black;
  font-weight:700;
}



/* WEATHER */
.weather-box{
  display:flex;
  background:url("https://secure.static.tumblr.com/923efa944e83e7b29e8b81375c4994f8/812dum0/BPOnn208e/tumblr_static_33dt8ni13dogk8c4wgcg0c84c_640_v2.gif");
  background-size: 100%;
  background-position: center center;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

.weather-row{
  font-size: 2.8vmax;
  color:white;
  display:block;
}

/* AUTOCOMPLETE */

.auto-box{
  display:flex;
  height:300px;
  background:url("http://66.media.tumblr.com/90920da52e2d73c92a16e5d1c7c96880/tumblr_nmydmqOiZL1un92slo1_500.jpg");
  background-size: 100%;
  background-position: center center;
  overflow:hidden;

}

.search-bar{
  margin: 0 auto;
  outline: none;
  height:40px;
  padding:10px;
  font-size:20px;
  color:black;
  opacity:0.8;
}

.results{
  text-align:center;
  color:black;
}




/* TRANSITIONS */
 .auto-enter {
   opacity: 0.01;
   transform: translateY(500%);
 }

 .auto-enter.auto-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 500ms, transform 500ms;
 }

 .auto-leave {
   opacity: 1;
   transform: translateY(0);
 }

 .auto-leave.auto-leave-active {
   opacity: 0.01;
   transform: translateY(500%);
   transition: opacity 500ms, transform 500ms;
 }
